<h1>HOME</h1>
<div>
	{{#if products}}
		<div>
			<ul>
				{{#each products}}
					<li>Producto: {{this.title}}</li>
					<li>Descripción: {{this.description}}</li>
					<li>Precio: {{this.price}}</li>
          <br>
				{{/each}}
			</ul>
		</div>
	{{else}}
		<h2>No hay productos para mostrar</h2>
	{{/if}}
</div>