<h1>REAL TIME PRODUCTS</h1>









{{!-- Estos scripts son los que nos van a conectar con socket.io --}}
{{!-- y con nuestro archivo js de la carpeta public --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>